@use 'src/styles/_vars';

#avis {
  border: vars.$boxBorder;
  border-radius: vars.$boxBorderRadius;
  text-align: center;
  display: flex;
  padding: 1rem;
  margin-bottom: 1rem;

  .crit-content {
    width: 100%;
    margin: auto 0;

    p:not(:last-child){
      font-size: 1.2rem;
      margin-bottom: 1.2rem;
    }

    @media (max-width: vars.$medium) {
      text-align: left;
    }
  }
}
