@use 'src/styles/_vars';

#galerie {
  margin-bottom: 1rem;
  border: vars.$boxBorder;
  border-radius: vars.$boxBorderRadius;
  padding: 0 3rem 1rem;
  min-height: 200px;

  >h2 {
    color: vars.$mainColor;
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-shadow: 0.5px 0.5px 1px black;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 1rem;

    @media (min-width: vars.$medium) {
      margin-bottom: 2rem;
      margin-top: 2rem;
    }
  }

  .select-choice {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 2rem;

    @media (min-width: 600px) {
      flex-direction: unset;
      justify-content: space-between;
    }

    >button {
      background-color: white;
      border: vars.$boxBorder;
      border-radius: vars.$boxBorderRadius;
      padding: 1rem 2rem;
      width: 150px;
      margin: 1rem auto;
      font-size: 1.1rem;

      @media (min-width: vars.$medium) {
        font-size: 1.2rem;
      }

      @media (min-width: vars.$inter) {
        font-size: 1.3rem;
        width: 200px;
      }

      @media (min-width: vars.$big) {
        font-size: 1.5rem;
      }

      &:hover, &:focus {
        color: vars.$textHoverColor;
      }

      &:active {
        color: black;
        background-color: vars.$thirdColor;
      }

      &.select-chosen {
        background-color: vars.$mainColor;
        color: white;

        &:hover, &:focus {
          color: black;
        }
  
        &:active {
          color: black;
          background-color: vars.$thirdColor;
        }
      }
    }
  }

  .size-div {
    display: flex;
    flex-direction: column;
    justify-content: center;

    >select {
      border: vars.$boxBorder;
      border-radius: vars.$boxBorderRadius;
      padding: 1rem 0.5rem;
      font-size: 1rem;
      margin: -1rem auto 1rem;

      @media (min-width: vars.$medium) {
        padding: 1rem 2rem;
        font-size: 1.2rem;
      }

      @media (min-width: vars.$inter) {
        font-size: 1.3rem;
      }

      @media (min-width: vars.$big) {
        font-size: 1.5rem;
      }
    }

    >div {
      display: flex;
      justify-content: center;
  
      .size-search {
        background-color: white;
        border: vars.$boxBorder;
        border-radius: vars.$boxBorderRadius;
        padding: 1rem 2rem;
        font-size: 1rem;
        margin: 1rem auto;

        @media (min-width: vars.$medium) {
          font-size: 1.2rem;
        }
  
        @media (min-width: vars.$inter) {
          font-size: 1.3rem;
        }
  
        @media (min-width: vars.$big) {
          font-size: 1.5rem;
        }

        &:hover, &:focus {
          color: vars.$textHoverColor;
        }

        &:active {
          color: black;
          background-color: vars.$thirdColor;
        }
      }
    }
  }

  .tableaux-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 93%;
    margin: 0 auto;

    .tableau {
      width: 100%;
      max-height: 500px;
      margin-bottom: 2rem;

      @media (min-width: vars.$medium) {
        width: 45%;
      }

      @media (min-width: vars.$big) {
        width: 28%;
      }
    
      .card {
        height: 100%;
        margin: 0 auto;
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:hover, &:focus {
          >h3 {
            color: vars.$textHoverColor;
          }
        }

        &:active {
          >h3 {
            text-decoration: vars.$textHoverDecoration;
          }
        }

        >div {
          margin: auto;

          >img {
            max-width: 100%;
            max-height: 380px;
            border: 5px white solid;
            box-shadow: vars.$imageShadow;
          }
        }

        >h3 {
          font-weight: bold;
          text-align: center;
          margin: 1.5rem 0 0.5rem;
        }  
      }
    }
  }
}
