{% extends 'base.html.twig' %}

{% block title %}{{ method }} d'une peinture{% endblock %}

{% block body %}

<style>
    @media (max-width: 990px) {
        form {
            font-size: 2rem;
        }

	.form-control {
	    font-size: 2rem;
	}

	.form-select {
	    font-size: 2rem;
	}

	form .mb-3 {
	    margin: 2rem 0;
	}

	form button {
	    font-size: 2rem !important;
	}
    }
</style>

<h1>{{ method }} d'une peinture</h1>

{% if 'Création' is same as method %}
<h4>La création du tableau peut se limiter à la photo</h4>
{% endif %}

{{ include('main/_form.html.twig') }}

{% endblock %}
