{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block homeActive %}active{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello ! ✅</h1>

    {{ include('sample/_painting_skeleton.html.twig') }}}

</div>
{% endblock %}
