@use 'src/styles/_vars';

#footer {
  border: vars.$boxBorder;
  border-radius: vars.$boxBorderRadius;
  padding: 1rem 2rem;
  margin-top: 1rem;

  nav {
    display: flex;
    flex-direction: column;
    text-align: center;

    @media (min-width: vars.$medium) {
      flex-direction: unset;
      flex-wrap: wrap;
    }

    @media (min-width: vars.$inter) {
      flex-wrap: unset;
      justify-content: space-evenly;
    }

    p {
      width: fit-content;
      margin: 1rem auto;

      @media (min-width: vars.$medium) {
        width: 50%;

        &.fb {
          width: 100%;
        }
      }

      @media (min-width: vars.$inter) {
        width: fit-content;

        &.fb {
          width: fit-content;
        }
      }

      a {
        position: relative;

        em {
          display: none;
          position: absolute;
          margin-left: 0.5rem;

          &.mail {
            font-size: 1rem;
          }
        }

        &:hover {
          text-decoration: vars.$textHoverDecoration;
          color: vars.$textHoverColor;
  
          em {
            display: inline;
          }
        }

        &:active {
          text-decoration: vars.$textHoverDecoration;
          color: vars.$secondaryColor;
  
          em {
            display: inline;
          }
        }
      }

      &.cred {
        &:hover {
          cursor: pointer;
          text-decoration: vars.$textHoverDecoration;
          color: vars.$textHoverColor;
        }

        &:active {
          cursor: pointer;
          text-decoration: vars.$textHoverDecoration;
          color: vars.$secondaryColor;
        }
      }
    }
  }

  .fb-logo {
    height: 1rem;
    margin-right: 5px;
    margin-top: -2px;
  }
}
