@use 'src/styles/_vars';

#error {
  display: flex;
  justify-content: space-between;

  .resume {
    margin-right: 1rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    @media (max-width: vars.$inter) {
      width: 100%;
      margin-right: unset;
    }

    .entete {
      border: vars.$boxBorder;
      border-radius: vars.$boxBorderRadius;
      display: flex;
      flex-direction: column;
      min-height: 200px;
      overflow: hidden;
      text-align: center;
      padding: 1rem;


      @media (min-width: 900px) {
        height: 100%;
      }

      img {
        align-self: center;
      }

      h2 {
        font-size: 1.5rem;
        font-weight: bold;
        left: 1rem;

        @media (min-width: vars.$small) {
          font-size: 2rem;
          top: 20%;
        }

        @media (min-width: vars.$medium) {
          top: 40%;
        }
      }
    }
  }
}
