@use 'src/styles/_vars';

#paintingList {
  margin-bottom: 1rem;
  border: vars.$boxBorder;
  border-radius: vars.$boxBorderRadius;
  height: fit-content;
  padding: 0.5rem 3rem;
  min-height: 200px;

  >h2 {
    color: vars.$mainColor;
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    width: 100%;
    margin-bottom: 1rem;
  }

  .subtitle {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
  }

  >h4 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.3rem;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .tableau {
      width: 100%;
      max-height: 500px;
      margin-bottom: 2rem;

      @media (min-width: vars.$medium) {
        width: 45%;
      }

      @media (min-width: vars.$big) {
        width: 28%;
      }
    
      .card {
        height: 100%;
        margin: 0 auto;
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: 0.5s;
        overflow: hidden;

        &:hover {
          border: orange solid 4px;
          border-radius: vars.$boxBorderRadius;
          box-shadow: 3px 3px 3px black;
          transition: 0.5s 0.5s;
        }

        &:active {
          box-shadow: 5px 5px 5px vars.$secondaryColor;
          color: vars.$secondaryColor;
          background-color: vars.$clickBackgroundColor;
        }

        div {
          margin: auto 0;

          >img {
            max-width: 100%;
            max-height: 380px;
            border: black 4px solid;
          }
        }

        >h4 {
          font-weight: bold;
          text-align: center;
          margin: 1.5rem 0 0.5rem;
        }  
      }
    }
  }

  .back-button {
    display: flex;
    justify-content: center;
    width: 100%;
    
    button {
      background-color: white;
      border: vars.$boxBorder;
      border-radius: vars.$boxBorderRadius;
      padding: 0.6rem;
      margin: 1rem auto;
    
      @media (min-width: vars.$small) {
        font-size: 1.1rem;
      }

      @media (min-width: 600px) {
        padding: 0.6rem 1rem;
      }

      @media (min-width: vars.$medium) {
        font-size: 1rem;
        padding: 0.6rem 0.5rem;
      }

      @media (min-width: vars.$inter) {
        padding: 1rem 1.2rem;
        font-size: 1.2rem;
      }

      @media (min-width: vars.$big) {
        padding: 1rem 1.5rem;
        font-size: 1.2rem;
      }

      &:hover {
        color: vars.$textHoverColor;
        text-decoration: vars.$textHoverDecoration;
        box-shadow: vars.$boxHoverShadow;
      }

      &:active {
        color: vars.$secondaryColor;
        background-color: vars.$clickBackgroundColor;
      }
    }
  }

  .navigation {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
  
    @media (min-width: vars.$medium) {
      flex-wrap: nowrap;
      justify-content: space-between;
      width: 80%;
    }
  
    >a {
      align-self: center;

      &:first-child {
        order: -2;

        @media (min-width: vars.$medium) {
          order: 0;
        }
      }
      
      &:last-child {
        order: -1;

        @media (min-width: vars.$medium) {
          order: 0;
        }
      }

      >button {
        background-color: white;
        border: vars.$boxBorder;
        border-radius: vars.$boxBorderRadius;
        padding: 0.6rem;
        margin: 1rem auto;      
        width: 100px;

        @media (min-width: vars.$big) {
          width: 100px;
          font-weight: bold;
        }

        &:hover {
          color: vars.$textHoverColor;
          text-decoration: vars.$textHoverDecoration;
          box-shadow: vars.$boxHoverShadow;
        }

        &:active {
          background-color: vars.$clickBackgroundColor;
        }
      }
    }

    div {
      display: flex;
      justify-content: center;
      width: 100%;
      flex-wrap: wrap;
      margin: 0.5rem 0;

      @media (min-width: vars.$medium) {
        width: 70%;
        flex-wrap: nowrap;
        margin: unset;
      }

      >a {
        background-color: white;
        border: vars.$boxBorder;
        padding: 0.6rem;
        width: 20%;
        text-align: center;
        align-self: center;

        &:first-child {
          border-radius: vars.$boxBorderRadius;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;

          @media (min-width: vars.$medium) {
            margin-left: 1rem;
          }
        }
  
        &:last-child {
          border-radius: vars.$boxBorderRadius;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;

          @media (min-width: vars.$medium) {
            margin-right: 1rem;
          }
        }

        &:hover {
          color: vars.$textHoverColor;
          text-decoration: vars.$textHoverDecoration;
          box-shadow: vars.$boxHoverShadow;
        }
  
        &:active {
          background-color: vars.$clickBackgroundColor;
        }

        &.page-active {
          background-color: vars.$mainColor;
          font-weight: bold;
          border: 1px solid vars.$secondaryColor;
        }
      }
    
      select {
        background-color: white;
        border: vars.$boxBorder;
        padding: 0.6rem;
        width: 100%;
        text-align: center;
        align-self: center;
      }
    }
  }
}
