@use 'src/styles/_vars';

#sideBar {
  border: vars.$boxBorder;
  border-radius: vars.$boxBorderRadius;
  padding: 2rem;
  display: none;
  max-width: 220px;
  
  @media (min-width: vars.$inter) {
    display: flex;
  }

  .sideLoading {
    align-self: center;
    color: vars.$mainColor;
    font-weight: bold;
    width: 220px;
    text-align: center;
  }

  ul {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    li {
      margin: 1rem 0;

      a {
        img {
          max-height: 150px;
          max-width: 150px;
          margin: 0 auto;
          box-shadow: vars.$imageShadow;
          border: solid 3px white;
          margin-bottom: 1rem;
        }
        
        &:hover, &:focus {
          p {
            color: vars.$textHoverColor;
          }
        }

        &:active {
          p {
            text-decoration: vars.$textHoverDecoration;
          }
        }  
      }
    }
  }
}
