@use 'src/styles/_vars';

#biography {
  display: flex;
  justify-content: space-between;

  .resume {
    width: 100%;
    margin-right: unset;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    @media (min-width: vars.$inter) {
      margin-right: 1rem;
      width: 90%;
    }

    .main {
      margin-bottom: 1rem;
    }

    .critiques {
      border: vars.$boxBorder;
      border-radius: vars.$boxBorderRadius;
      height: fit-content;
      display: flex;
      flex-direction: column;
      padding: 1rem;

      @media (min-width: vars.$medium) {
        padding: unset;
      }

      @media (min-width: 1280px) {
        justify-content: center;
      }

      .crit-content {
        width: 100%;
        margin: auto;
        margin-bottom: 1rem;
        padding: 0 1rem 1rem;
        line-height: 1.6rem;
        font-size: 1.2rem;

        >h2 {
          color: vars.$mainColor;
          font-size: 2rem;
          font-style: italic;
          font-weight: bold;
          text-align: center;
          text-shadow: 0.5px 0.5px 1px black;
          width: 100%;
          margin-bottom: 2rem;
          margin-top: 1rem;

          @media (min-width: vars.$medium) {
            margin-bottom: 3rem;
            margin-top: 2rem;
          }
        }
      
        p {
          &::first-letter {
            text-transform: uppercase;
          }

          &:not(:last-child){
            margin-bottom: 1.5rem;
          }

          em {
            font-style: italic;
          }
        }

        @media (min-width: vars.$medium) {
          width: 90%;
          font-size: 1.3rem;
          padding: 0 2rem 1rem 1rem;
        }
      }
    }

    .pictures {
      border: vars.$boxBorder;
      border-radius: vars.$boxBorderRadius;
      padding: 1rem;
      display: flex;
      justify-content: space-around;
      flex-direction: column;

      img {
        height: 100%;
        align-self: center;
        border: 5px vars.$mainColor solid;

        &:not(:nth-child(2)) {
          max-height: 80%;
        }

        &:not(:last-child) {
          margin-bottom: 1rem;

          @media (min-width: 550px) {
            margin-bottom: unset;
          }  
        }        
      }

      @media (min-width: 550px) {
        flex-direction: unset;
        padding: 2rem;
      }
    }
  }
}
