@use 'src/styles/_vars';

#loader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  transform: scale(0.2);

  @media (min-width: vars.$medium) {
    transform: scale(0.3);
  }
}
