@use 'src/styles/_vars';

#expositions {
  border: vars.$boxBorder;
  border-radius: vars.$boxBorderRadius;
  padding: 2rem;
  display: flex;
  justify-content: space-around;

  @media (max-width: vars.$medium) {
    flex-direction: column;
    text-align: center;
    padding: 1rem;
  }

  p {
    font-weight: bold;

    @media (max-width: vars.$medium) {
      margin-bottom: 1rem;
    }
  }

  a {
    width: fit-content;
    margin: 0 auto;
    position: relative;
    
    @media (max-width: vars.$medium) {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    &:hover, &:focus {
      color: vars.$textHoverColor;

      em {
        display: inline;
      }
    }

    &:active {
      text-decoration: vars.$textHoverDecoration;
    }

    em {
      display: none;
      position: absolute;
      right: -1.5rem;
      font-size: 0.8rem;
    }
  }
}
