{% extends 'base.html.twig' %}

{% block title %}Recherche par catégorie{% endblock %}

{% block categoryActive %}active{% endblock %}

{% block body %}

<h1>Recherche par catégorie</h1>

<h2>Liste des tableaux de la catégorie {{ category.name }}</h2>

{{ include('_painting_skeleton.html.twig') }}

{% endblock %}
