{% extends 'base.html.twig' %}

{% block title %}Recherche par collection{% endblock %}

{% block situationActive %}active{% endblock %}

{% block body %}

<h1>Recherche par collection</h1>

<h2>Liste des tableaux de la collection {{ situation.collection }}</h2>

{{ include('_painting_skeleton.html.twig') }}

{% endblock %}
