@use 'src/styles/_vars';

#home {
  display: flex;
  justify-content: space-between;

  .resume {
    margin-right: 1rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    @media (max-width: vars.$inter) {
      width: 100%;
      margin-right: unset;
    }
  
    .entete {
      margin-bottom: 1rem;
      border: vars.$boxBorder;
      border-radius: vars.$boxBorderRadius;
      display: flex;
      padding: 2rem;
      flex-direction: column;

      @media (min-width: vars.$big) {
        flex-direction: initial;
      }

      .biographie {
        text-align: center;
        margin: 0 auto 1.5rem;
        font-size: 1.2rem;
        width: 100%;
        max-width: 400px;

        @media (min-width: 620px) {
          width: 80%;
          padding: 0.5rem;
          display: flex;
          flex-direction: column;
          margin-bottom: initial;
        }

        .bio-img {
          width: 100%;
          margin: 0 auto 1rem;
          border: 5px white solid;
          box-shadow: vars.$imageShadow;
        }
      }

      .oeuvres {
        text-align: center;
        width: 100%;
        margin: auto 0;

        @media (min-width: vars.$medium) {
          width: 70%;
          margin: auto;
        }

        h2 {
          font-style: italic;
          font-weight: bold;
          margin: 0 auto 2rem;
          width: 100%;
          max-width: 350px;

          @media (min-width: vars.$medium) {
            width: 60%;
          }

          img {
            width: 100%;
            height: 100%;
          }
        }

        h3 {
          font-size: 2rem;
          margin-bottom: 2rem;
          text-transform: uppercase;
          font-weight: bold;

          @media (max-width: vars.$medium) {
            display: none;
          }
        }

        p {
          font-size: 1.2rem;

          @media (min-width: vars.$medium) {
            font-size: 1.5rem;
          }

          @media (min-width: vars.$big) {
            font-size: 1.7rem;
          }

          a {
            &:first-child {
              margin-right: 1rem;
            }

            &:last-child {
              margin-left: 1rem;
            }

            &:hover {
              color: vars.$textHoverColor;
            }

            &:active {
              text-decoration: vars.$textHoverDecoration;
            }
          }
        }

        ul {
          display: flex;
          justify-content: center;

          li {
            margin: 0 1rem;
            width: 100px;
            font-size: 1.2rem;

            a:hover {
              color: vars.$textHoverColor;
            }

            a:active {
              text-decoration: vars.$textHoverDecoration;
            }
          }
        }
      }        
    }

    .news {
      border: vars.$boxBorder;
      border-radius: vars.$boxBorderRadius;
      padding: 2rem;
      text-align: center;

      @media (min-width: vars.$big) {
        padding: 2rem 3rem;
      }

      h2 {
        font-size: 1.8rem;
        font-style: italic;
        font-weight: bold;
        margin-bottom: 2rem;
        color: vars.$mainColor;
        text-shadow: 0.5px 0.5px 0.5px black;
      }

      h3 {
        font-size: 1.6rem;
        margin-bottom: 2rem;
      }

      p {
        line-height: 2rem;
        text-align: left;
      }

      >p {
        margin-bottom: 1.5rem;
        font-size: 1.1rem;
        font-style: italic;
      }

      div {
        font-size: 1.2rem;

        p:not(:last-child) {
          margin-bottom: 1rem;
        }
      }

      .affiche {
        width: 100%;
        margin-bottom: 2rem;

        @media (min-width: vars.$big) {
          width: unset;
          max-height: 1000px;
        }
      }

      .download-affiche {
        .download-affiche-button {
          background-color: white;
          border: vars.$boxBorder;
          border-radius: vars.$boxBorderRadius;
          padding: 1rem 2rem;
          margin: 2rem auto 1rem;
          font-size: 1.1rem;

          @media (min-width: vars.$medium) {
            font-size: 1.2rem;
          }

          @media (min-width: vars.$inter) {
            font-size: 1.3rem;
          }

          &:hover, &:focus {
            background-color: vars.$thirdColor;
          }

          &:active {
            color: vars.$textHoverColor;
            background-color: black;
          }
        }
      }
    }
  }
}
