{% extends 'base.html.twig' %}

{% block title %}Recherche par encadrement{% endblock %}

{% block frameActive %}active{% endblock %}

{% block body %}

<h1>Recherche par encadrement</h1>

<h2>Liste des tableaux de l'encadrement : {{ frame.framing }}</h2>

{{ include('_painting_skeleton.html.twig') }}

{% endblock %}
