{% extends 'base.html.twig' %}

{% block title %}Recherche par technique{% endblock %}

{% block techniqueActive %}active{% endblock %}

{% block body %}

<h1>Recherche par technique</h1>

<h2>Liste des tableaux de la technique {{ technique.type }}</h2>

{{ include('sample/_painting_skeleton.html.twig') }}

{% endblock %}
