@use 'src/styles/_vars';

#credits {
  display: flex;
  justify-content: space-between;

  .credits {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    border: vars.$boxBorder;
    border-radius: vars.$boxBorderRadius;

    @media (min-width: vars.$inter) {
      margin-right: 1rem;
      width: 90%;
      padding: 1rem 2rem;
    }

    >h2 {
      color: vars.$mainColor;
      font-size: 1.8rem;
      font-style: italic;
      font-weight: bold;
      text-align: center;
      text-shadow: 0.5px 0.5px 1px black;
      width: 100%;
      height: fit-content;

      margin-bottom: 1rem;
      margin-top: 1rem;
  
      @media (min-width: vars.$medium) {
        margin-bottom: 2rem;
        margin-top: 2rem;
      }
    }

    p {
      font-size: 1.1rem;
      margin-bottom: 1.8rem;

      &.official {
        font-weight: bold;
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 3rem;
      }

      span {
        font-weight: bold;
      }

      a {
        position: relative;

        em {
          font-size: 0.8rem;
          display: none;
          position: absolute;
          right: -1.5rem;

          &.mail {
            font-size: 1rem;
          }
        }
  
        &:hover, &:focus {
          color: vars.$secondaryColor;
                
          em {
            display: inline;
          }
        }

        &:active {
          text-decoration: underline;
        }
      }
    }
  }

  .request-form {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    margin-left: 10%;

    @media (min-width: vars.$medium) {
      margin-left: 0;
      margin-bottom: 3rem;
    }
    
    .label {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin-bottom: 2rem;
      font-size: 1.1rem;

      @media (min-width: vars.$medium) {
        font-size: 1.2rem;
        width: 60%;
      }

      @media (min-width: vars.$inter) {
        width: 500px;
      }

      &.label-message {
        width: 80%;

        @media (min-width: vars.$medium) {
          width: 60%;
        }

        @media (min-width: vars.$inter) {
          width: 500px;
        }

        @media (min-width: 1300px) {
          width: 60%;
        }
      }

      .input {
        margin-top: 0.5rem;
        padding: 0.5rem 1rem;
        font-size: 1.1rem;
        border-radius: 5px;
        border: 2px solid vars.$secondaryColor;

        @media (min-width: vars.$medium) {
          font-size: 1.2rem;
        }

        &:focus {
          border-color: vars.$mainColor;
          
        }

        &.input-message {
          height: 10rem;
          resize: vertical;

          &:focus {
            border: 2px solid vars.$mainColor;
          }
        }
      }
    }

    div {
      margin-left: -10%;
      width: 100%;
      display: flex;
      justify-content: center;
      
      @media (min-width: vars.$medium) {
        margin: unset;
        width: unset;
        display: unset;
        justify-content: unset;
      }

      button {
        background-color: white;
        border: vars.$boxBorder;
        border-radius: vars.$boxBorderRadius;
        padding: 1rem 2rem;
        width: 150px;
        margin: 1rem auto;
        font-size: 1.1rem;

        @media (min-width: vars.$medium) {
          font-size: 1.2rem;
        }

        @media (min-width: vars.$inter) {
          font-size: 1.3rem;
          width: 200px;
        }

        @media (min-width: vars.$big) {
          font-size: 1.4rem;
        }

        &:hover, &:focus {
          color: vars.$textHoverColor;
        }

        &:active {
          color: black;
          background-color: vars.$thirdColor;
        }

        &.select-chosen {
          background-color: vars.$mainColor;
          color: white;

          &:hover, &:focus {
            color: black;
          }
    
          &:active {
            color: black;
            background-color: vars.$thirdColor;
          }
        }
      }
    }
  }

  .contact-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000ee;
    z-index: 150;
    text-align: center;

    .modal {
      width: 80%;
      height: fit-content;
      background-color: #fff;
      border-radius: 10px;
      margin: 10% auto 0;
      position: relative;
      padding: 4rem 1rem 3rem;

      @media (min-width: vars.$medium) {
        width: 60%;
        padding: 4rem 1rem 2rem;
      }

      .close-button-modal {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        background-color: black;
        height: 2rem;
        width: 2rem;
        border-radius: 100%;
        transform: rotate(45deg);
        color: white;
        border: none;
        font-size: 1.5rem;

        &:hover, &:focus {
          background-color: vars.$mainColor;
        }

        &:active {
          background-color: vars.$secondaryColor;
        }
      }

      .message-modal {
        font-size: 1.5rem;
        margin-bottom: 2rem;
        font-weight: bold;
      }

      .button-modal {
        background-color: white;
        border: vars.$boxBorder;
        border-radius: vars.$boxBorderRadius;
        padding: 1rem 2rem;
        margin: 1rem auto;
        font-size: 1.1rem;

        @media (min-width: vars.$medium) {
          font-size: 1.2rem;
        }

        @media (min-width: vars.$inter) {
          font-size: 1.3rem;
        }

        @media (min-width: vars.$big) {
          font-size: 1.4rem;
        }

        &:hover, &:focus {
          background-color: vars.$thirdColor;
        }

        &:active {
          color: vars.$textHoverColor;
          background-color: black;
        }
      }
    }
  }
}
